<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/htf?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">rootroot</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="ru/htf/hibernate/Optionfortrip.hbm.xml"/>
    <mapping resource="ru/htf/hibernate/Cities.hbm.xml"/>
    <mapping resource="ru/htf/hibernate/Airports.hbm.xml"/>
    <mapping resource="ru/htf/hibernate/Optionfororder.hbm.xml"/>
    <mapping resource="ru/htf/hibernate/Orderstrip.hbm.xml"/>
    <mapping resource="ru/htf/hibernate/Roles.hbm.xml"/>
    <mapping resource="ru/htf/hibernate/Countries.hbm.xml"/>
    <mapping resource="ru/htf/hibernate/Airplanetypes.hbm.xml"/>
    <mapping resource="ru/htf/hibernate/Users.hbm.xml"/>
    <mapping resource="ru/htf/hibernate/Portfortripid.hbm.xml"/>
    <mapping resource="ru/htf/hibernate/Parameters.hbm.xml"/>
    <mapping resource="ru/htf/hibernate/Trips.hbm.xml"/>
    <mapping resource="ru/htf/hibernate/Orderstatus.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
